
.container{
	max-width:600px;
	margin: 0 auto;
}
.tiles{
	margin: 1.6%;
	width:30%;
	float: left;
	background: purple;
	padding-bottom:30%;
	/*height:span;*/
}
h1{
	text-align: center;
	background: blue;
	color: white;
}